.team {
  border: solid black;
  width: 600px;
}

.link {
  text-decoration: none;
  color: black;
}

.PjListContainer {
}

.pjListMap {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-right: 33px;
  margin-left: 10px;
}
